.add-category-container {

}

.add-category-form-container {
  height: 220px;
  float: left;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 45px;

  label {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 10px;
  }
}

.add-category-preview {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;

  .category {
    width: 220px;
    margin: 0 auto;
  }
}