.breadcrumb-container {
  padding: 25px 10px;

  & .breadcrumb a {
    color: #007bff;

    &:hover {
      text-decoration: underline;
    }
  }

  & .breadcrumb {
    color: #6c757d;
  }

  & .divider {
    padding: 0 10px;
  }
}

@media (min-width: env(--device-width-tablet-min)) {
  .breadcrumb-container {
    padding-left: 20px;
  }
}

@media (min-width: env(--device-width-desktop-large)) {
  .breadcrumb-container {
    padding-left: 0;
  }
}
