.about-me-wrapper {
  overflow: auto;

  &::after {
    clear: both;
    content: "";
    display: table;
  }

  & p {
    margin-top: 0;
  }

  & .personal-photo {
    float: left;
    height: 300px;
    margin-right: 25px;
  }

  & .social-links {
    text-align: center;

    & img {
      margin-right: 25px;
    }
  }
}
