.about-me-wrapper {
  overflow: auto;

  &::after {
    clear: both;
    content: "";
    display: table;
  }

  & p {
    margin-top: 0;
  }

  & .personal-photo {
    display: none;
    float: left;
    height: 300px;
    margin-right: 25px;
  }

  & .social-links {
    text-align: center;

    & img {
      margin: 0 12px;
    }
  }
}

@media (min-width: env(--device-width-desktop-min)) {
  .about-me-wrapper {
    & .personal-photo {
      display: inline-block;
    }
  }
}
