.add-resource-site-container {
  overflow: hidden;
}

.add-resource-site-form-container {
  height: 220px;
  float: left;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 45px;

  label {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 10px;
  }
}

.add-resource-site-preview {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;

  .action-item {
    display: block;
    margin: 0 auto;
  }

  .action-image-container {
    background: #f2f2f2;
    display: block;
    height: 128px;
    width: 128px;
    margin: 0 auto;
  }
}