.add-btn-container {
  margin-bottom: 15px;
  padding-right: 20px;
  text-align: right;

  & .btn {
    border: 1px solid;
    display: inline-flex;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;

    & i {
      font-size: 18px;
      margin-top: -1px;
      line-height: 0.8;
    }
  }
}

h3 {
  @mixin title_font;

  padding-left: 20px;
}
