.remove-resource-site-container {
  .confirmation-message {
    padding: 0 20px 20px;
    font-size: 24px;
  }
}

.resource-site-preview {
  text-align: center;

  .action-item {
    margin: 0 auto;
  }

  .action-image-container {
    margin: 0 auto;
    height: 128px;
    width: 128px;
    float: none;
  }
}