// TODO: Maybe desktop first would be more concise?
.category-options {
  .dashboard-category-container {
    position: relative;
  }

  .dashboard-category-mobile-options {
    width: 60px;
    height: 100px;
    position: absolute;
    background-color: $jg-color-primary;
    color: $jg-text-color-alternate;
    z-index: 0;
    border-top: 1px solid #000;
    text-align: center;

    .remove {
      font-size: 22px;
      margin-top: 35px;
    }
  }

  .dashboard-category-remove {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 100%;
    transition: all .4s;
    border-top: 1px solid black;
    background-color: $jg-text-color-alternate;

    &.visible {
      left: 0;
    }

    div {
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 48px;
    }

    button {
      margin: 10px;
    }
  }

  a {
    width: 100%;

    &:nth-child(even) {
      color: $jg-color-primary;
    }

    &:nth-child(odd) {
      color: $jg-color-primary-lighter;
    }
  }
}

.category {
  z-index: 1;
  background-color: #FFF;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
  cursor: pointer;
  position: relative;
  transition: all .3s;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
  }

  .remove {
    display: none;
    position: absolute;
    right: 0;
    font-size: 16px;
    height: 35px;
    width: 35px;
  }

  .title {
    float: right;
    width: 75%;
    font-size: 1.25em;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .visual {
    width: 25%;
    float: left;
    font-size: 48px;
  }
}

@media (min-width: $jg-device-width-mobile) {
  .category-options {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);

    .dashboard-category-mobile-options {
      display:none;
    }

    .dashboard-category-container {
      overflow-x: hidden;
      width: auto;

      &:nth-child(4n),
      &:nth-child(4n+1){
        background-color: $jg-color-primary;
      }

      &:nth-child(4n+2),
      &:nth-child(4n+3){
        background-color: $jg-color-primary-lighter;
      }
    }
  }

  .category {
    height: 250px;
    text-align: center;
    color: $jg-text-color-alternate;
    background-color: transparent;
    border: none;

    &:hover {
      .remove {
        opacity: 1;
      }
    }

    .remove {
      display: block;
      opacity: 0;
      transition: opacity 0.3s;
      top: 5px;
      right: 5px;
      font-size: 22px;
    }

    .title {
      padding-top: 15px;
      height: 35%;
      float: none;
      width: 100%;
    }

    .visual {
      height: 65%;
      font-size: 72px;
      float: none;
      width: 100%;
    }
  }
}

@media(min-width: $jg-device-width-tablet) {
  .category-options {
    grid-template-columns: repeat(auto-fill, 33.33%);

    .dashboard-category-container {
      &:nth-child(odd) {
        background-color: $jg-color-primary;
      }

      &:nth-child(even) {
        background-color: $jg-color-primary-lighter;
      }
    }
  }
}

@media(min-width: $jg-device-width-desktop) {
  .category-options {
    grid-template-columns: repeat(auto-fill, 25%);
    padding: 20px;

    .dashboard-category-container {
      &:nth-child(8n+1),
      &:nth-child(8n+3),
      &:nth-child(8n+6),
      &:nth-child(8n) {
        background-color: $jg-color-primary;
      }
      &:nth-child(8n+2),
      &:nth-child(8n+4),
      &:nth-child(8n+5),
      &:nth-child(8n+7) {
        background-color: $jg-color-primary-lighter;
      }
    }
  }

  .category {
    height: 230px;
  }
}
