.header {
  background-color: env(--color-primary);
  color: env(--text-color-alt);
  height: 60px;

  & .header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    line-height: 60px;
  }

  & .nav-button {
    flex: 1;
    text-align: center;
    border-left: 1px solid white;
    box-sizing: border-box;

    &:last-child {
      border-right: 1px solid white;
    }

    & a {
      color: white;
      text-decoration: none;
      font-size: 24px;
    }
  }
}
