.blog-container {
  width: 100%;

  .posts-container {
    display: inline-block;
    width: 80%;
    vertical-align: top;
  }

  .navigator-container {
    display: inline-block;
    width: 20%;
    vertical-align: top;
  }
}