.home-background {
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
  height: calc(100vh - 45px);
  position: fixed;
  opacity: 0.55;
  top: 45px;
  width: 100%;
  z-index: -1;
}

.home-content {
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.33);
  margin: 0 auto;
  overflow-x: hidden;
  padding: 20px 20px 45px 20px;
  max-width: 900px;
}
