.home-container {
  background: #e7e7e7;
}

.home-content {
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.33);
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
}

.built-with-section-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  height: 100px;
  justify-items: center;
  padding-top: 20px;

  & img {
    width: 100px;
  }
}
