.dashboard-items-container {
  .removable-item-wrapper {
    height: 100px;
    overflow: hidden;
    position: relative;
    width: auto;

    &:nth-child(even) a {
      color: $jg-color-primary;
    }

    &:nth-child(odd) a {
      color: $jg-color-alternate;
    }
  }

  .removable-item-mobile-options {
    width: 60px;
    height: 100px;
    position: absolute;
    background-color: $jg-color-primary;
    color: $jg-text-color-alternate;
    z-index: 0;
    border-top: 1px solid #000;
    text-align: center;

    .remove {
      font-size: 22px;
      margin-top: 35px;
    }
  }

  .removable-item-controls {
    width: 100%;

    .remove {
      display: none;
      position: absolute;
      right: 0;
      font-size: 16px;
      height: 35px;
      width: 35px;
    }
  }

  .removable-item-confirmation {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 100%;
    transition: all .4s;
    border-top: 1px solid black;
    background-color: $jg-text-color-alternate;

    &.visible {
      left: 0;
    }

    div {
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 48px;
    }

    button {
      margin: 10px;
    }
  }
}

@media (min-width: $jg-device-width-mobile) {
  .dashboard-items-container {
    .removable-item-wrapper {
      height: auto;

      &:nth-child(4n),
      &:nth-child(4n+1) {
        a {
          background-color: $jg-color-primary;
        }
      }

      &:nth-child(4n+2),
      &:nth-child(4n+3) {
        a {
          background-color: $jg-color-alternate;
        }
      }
    }

    .removable-item-controls {
      &:hover {
        .remove {
          opacity: 1;
        }
      }

      .remove {
        color: #fff;
        cursor: pointer;
        display: block;
        opacity: 0;
        transition: opacity 0.3s;
        top: 5px;
        right: 5px;
        font-size: 22px;
        z-index: 2;
      }
    }

    .removable-item-mobile-options {
      display: none;
    }

    .removable-item-confirmation {
      border: 1px solid $jg-color-primary;
      height: 100%;
      padding-top: 60px;
    }
  }
}

@media(min-width: $jg-device-width-tablet) {
  .dashboard-items-container {
    .removable-item-wrapper {
      &:nth-child(odd) {
        a {
          background-color: $jg-color-primary;
        }
      }
  
      &:nth-child(even) {
        a {
          background-color: $jg-color-alternate;
        }
      }
    }
  }
}

@media(min-width: $jg-device-width-desktop) {
  .dashboard-items-container {
    .removable-item-wrapper {
      &:nth-child(8n+1),
      &:nth-child(8n+3),
      &:nth-child(8n+6),
      &:nth-child(8n) {
        a {
          background-color: $jg-color-primary;
        }
      }
      &:nth-child(8n+2),
      &:nth-child(8n+4),
      &:nth-child(8n+5),
      &:nth-child(8n+7) {
        a {
          background-color: $jg-color-alternate;
        }
      }
    }
  }
}
