@import "variables";

@import "admin/admin.styles";
@import "admin/login/login.styles";
@import "admin/resource-sites/add-resource-site.styles";
@import "admin/resource-site/remove-resource-site.styles";
@import "shared/alert/alert.styles";
@import "shared/modal/modal.styles";
@import "public/components/Header/header.styles";
@import "public/components/Layout/styles";
@import "public/containers/Blog/styles";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
}

hr {
  border-width: 1px 0 0;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}

input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.btn-small {
  line-height: 1.1;
  padding: 0.375rem;
}

.btn-primary {
  color: $jg-text-color-alternate;
  background-color: $jg-color-primary;
  border-color: $jg-color-primary;

  &:hover {
    color: $jg-text-color-alternate;
    background-color: lighten($jg-color-primary, 5%);
    border-color: lighten($jg-color-primary, 5%);
  }
}

.btn-outline-primary {
  color: $jg-color-primary;
  background-color: #FFF;
  background-image: none;
  border-color: $jg-color-primary;

  &:hover {
    color: $jg-text-color-alternate;
    background-color: $jg-color-primary;
    border-color: $jg-color-primary;
  }
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;

  &:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: #FFF;
  background-image: none;
  border-color: #6c757d;

  &:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
}
