@import "variables";

@import "admin/admin.styles";
@import "admin/login/login.styles";
@import "shared/alert/alert.styles";
@import "shared/modal/modal.styles";
@import "public/components/Header/header.styles";
@import "public/components/Layout/styles";
@import "public/containers/Blog/styles";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

hr {
  border-width: 1px 0 0;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}