$jg-device-width-mobile: 480px;
$jg-device-width-tablet: 768px;
$jg-device-width-desktop: 992px;

$jg-max-content-width: 980px;

// https://colorhunt.co/palette/62193
//$jg-text-color: #212121;
//$jg-text-color-alternate: #FFFFFF;
//
//$jg-color-primary: #0D7377;
//$jg-color-secondary: #14FFEC;

// https://colorhunt.co/palette/74172
$jg-text-color: #222222;
$jg-text-color-alternate: #FFF;

$jg-color-primary: #044343;
$jg-color-primary-lighter: #045757;
$jg-color-secondary: #431404;
$jg-color-gray-dark: #222222;
$jg-color-gray: #E4E4E4;
