$jg-device-width-mobile: 480px;
$jg-device-width-tablet: 768px;
$jg-device-width-desktop: 992px;

$jg-max-content-width: 980px;

$jg-text-color-secondary: #E4EDDb;
$jg-color-primary: #1A3C40;
$jg-color-secondary: #144D53;
$jg-color-tertiary: #307672;
