.login-container {
  color: $jg-text-color;
  width: 40%;
  min-width: 315px;
  border: 1px solid $jg-color-gray-dark;
  border-radius: 15px;
  margin: 50px auto;
  background: $jg-color-gray;
  padding: 25px;
  box-sizing: border-box;

  .login-header {
    text-align: center;

    h2 {
      margin-top: 0;
    }
  }

  .login-form {
    width: 100%;
  }

  input {
    display: block;
    margin: 20px auto;
    width: 70%;
    height: 30px;
    font-size: 18px;
    line-height: initial;
  }
}
